@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 151.46 73.21% 21.96%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .component-selected-priority {
    z-index: 9999;
  }

  .component-selected,
  .component-selected-default {
    @apply relative;
  }

  .component-selected::after,
  .component-selected-default::after {
    content: ' ';
    @apply border-red-500 border-[1px] border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  *::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}

.transition {
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  width: 19%;
  margin: 0;
  height: calc(100% - 90px);
  top: 50%;
  -webkit-transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
}

.swiper-button-prev {
  left: 0;
}

#bodyLayout .swiper-horizontal .swiper-button-next {
  top: 50%;
  right: 24px;
  width: 30px;
  height: 30px;
  left: inherit;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#bodyLayout .swiper-horizontal .swiper-button-next:after {
  content: '';
  background: url('https://www.wowweekend.vn/partnership/emeralda-tamcoc/assets/images/icon-next_2x.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 50%;
  right: 50%;
  transition: 0.3s all ease 0s;
  -webkit-transition: 0.3s all ease 0s;
}

#bodyLayout .swiper-horizontal .swiper-button-prev {
  top: 50%;
  left: 24px;
  width: 30px;
  height: 30px;
  right: inherit;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#bodyLayout .swiper-horizontal .swiper-button-prev:after {
  content: '';
  background: url('https://www.wowweekend.vn/partnership/emeralda-tamcoc/assets/images/icon-prev_2x.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 50%;
  right: 50%;
  transition: 0.3s all ease 0s;
  -webkit-transition: 0.3s all ease 0s;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin: 0 3px;
  background: #fafaf7;
  opacity: 1;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #bdaa88;
}

.container-query {
  container-type: inline-size;
  container-name: responsive;
}

.base-render-node {
  font-size: 12px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

.hero-banner-height {
  height: 100vh;
}

@media screen and (max-width: 1280px) {
  .hero-banner-height {
    height: auto;
    aspect-ratio: 16/9;
  }
}


        h1 { font-size: 60px !important;font-family: Anek Latin !important; }
        h2 { font-size: 40px !important;font-family: Anek Latin !important; }
        h3 { font-size: 20px !important;font-family: Anek Latin !important; }
        body { font-size: 18px !important;font-family: Anek Latin !important; }
      